@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@import "tailwindcss";
@import "../src/css/spinner.css";

:root {
  /* PRIMARY */
  --main-color: #9d2235;
  /* TINTS */
  --container-background: #f1f5f9;
  /* SHADES */
  --color-dark-background: #656e7b;
  /* ACCENTS */
}

@theme {
  /* --breakpoint-*: initial; */
  --color-main: var(--main-color);
  --color-container: var(--container-background);
  --color-table-header: var(--color-dark-background);
  --color-button-hover: #73192a;
  --color-accent: #00c9f1; /* 00c950 */
  --color-accent-text: #00505f;
  --breakpoint-sm: 35em;
  --breakpoint-md: 41em;
  --breakpoint-lg: 50em;
  --breakpoint-xl: 67em; /* Small monitor */
  --breakpoint-2xl: 95em;
  --breakpoint-3xl: 100em;
}

* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Inter", sans-serif;
}

@media (min-width: 50em) {
  .dx-scheduler-appointment {
    height: auto !important;
    min-height: 1.25rem;
  }
}

/* Calendar DEVEXTREME */
/* .dx-scheduler-timeline-day .dx-scheduler-cell-sizes-horizontal,
.dx-scheduler-timeline-week .dx-scheduler-cell-sizes-horizontal,
.dx-scheduler-timeline-work-week .dx-scheduler-cell-sizes-horizontal {
  width: 100px;
} */
